<center><h1><%= @merchant.name %>'s Items</h1></center>
<% @merchant.items.each_with_index do |item, index| %>
  <div id="item-<%= index %>">
    Name: <%= item.name %><br>
    Description: <%= item.description %><br>
    Price: $<%= item.unit_price %><br>
    <%= link_to "Update #{item.name}", edit_merchant_item_path(@merchant, item) %><br>
    <%= link_to "Delete #{item.name}", merchant_item_path(@merchant, item), method: :delete %><br><br>
</div>
<% end %>
<%= link_to 'Create New Item', new_merchant_item_path(@merchant.id) %>
