<center><h1>My Items</h1></center>
<%= link_to 'Create New Item', new_merchant_item_path(@merchant.id) %>
<h2>My Items:</h2>
<% @merchant.items.each_with_index do |item, index| %>
  <div id="item-<%= index %>">
    Name: <%= item.name %><br>
    Description: <%= item.description %><br>
    Price: $<%= item.unit_price %><br><br>
</div>
<% end %>
